.list{
  list-style: none;
}

* {
    margin: 0px;
    padding: 0px;
}


.container{
  width:1170px;


}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;

  background-image:url(5人の戦士.jpg);
  background-size:cover;

}


.header-main {
  display: block;
  width: 75%;
  height: 450px;
  background-color: white;
  text-align: center;
}

.header-main-top {
  background: linear-gradient(white,silver);
  border: 2px solid black;
  box-shadow: 0 0 0 1px #555;
  text-shadow: 0 1px 1px #fff;
  color: black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.photo img{
  float: left;
  height: 385px;
  width: 430px;
  margin-top: 2px;

}

.header-main-sentence {
text-align:justify;
}

.main{
  margin-top: 0px;
  background-color: #f7f7f7;
    height: 500px;
    text-align: center;

}

.headline h2{
text-align: center;
font-family: inherit;

}



.main-contents{
  float: left;

  margin:20px;
}

.main-icon{
  position: relative;
}
.hobby img{
  width: 310px;
  height: 310px;
  margin-right: 0px;
  margin-left: 10px;
  border-radius: 50%;
}

.title{


}

.txt-contents{
  display: inline-block;
  margin-top: 20px;
  font-size:12px;
  color:black;

}

h2{
  font-size: 30px;
}

.footer{
background-image:url(5人の戦士.jpg);
/*background-size:cover;*/
background-repeat: repeat;
height: 300px;
color: silver;


}

.follow{
  text-align: center;

}
.icon{
text-align: center;
margin: 40px;
}

.fab{
    font-size: 150px;

}

@media(max-width:1170px){
  .item{
    width:100%;
  }
}

*{box-sizing: border-box;

}s
