ul {
  list-style: none;
}

.container{
  width:1170px;
  padding: 15px;
  margin: 0 auto;
}

.header{
  background-image: url(5人の戦士.JPG);
  height: 500px;
  background-size:cover;
  position: relative;
}

.introduce {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 65%;
  height: 400px;
  text-align: center;/*一応BOX内の文字も中央寄せ*/
}

.profile{
  background: linear-gradient(white,red);
  border: 2px solid black;
  box-shadow: 0 0 0 1px #555;
  text-shadow: 0 1px 1px #fff;
  color: white;
  height: 50px;
  position: relative;

}

.profile h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 200px;
  text-align: center;/*一応BOX内の文字も中央寄せ*/

  padding-bottom: 40px;

}

.photo img{
  float: left;
  height: 350px;
  width: 425px;

}

.sentence p{

}

.headline h2{
text-align: center;
font-family: inherit;
 background-repeat: repeat-x;
}

.main{
  background-color: #f7f7f7;
    height: 650px;
    text-align: center;
}

.main-contents{
  float: left;
　width: 33%;
  margin:40px;
}

.main-icon{
  position: relative;
}
.hobby img{
  width: 310px;
  height: 310px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 50%;
}

.title{


}

.txt-contents{
  display: inline-block;
  margin-top: 20px;
  font-size:12px;
  color:black;

}

h2{
  font-size: 30px;
}
.footer{
background-image:url(よし.jpg);
background-repeat: repeat;
height: 300px;


}

.follow{
  text-align: center;

}
.icon{
text-align: center;
margin: 40px;
}

.fab{
    font-size: 150px;

}

.fa-twitter-square {
  color: #00a1f2;
}

.fa-facebook-square {
  color: #3578E5;
}
